{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
<main class="container py-4 bg-body rounded-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="list-group">
                {% for address in crypto_addresses %}
                <div class="list-group-item bg-body-secondary text-body mb-2 rounded-3 p-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <!-- Лого -->
                            <span class="fw-bold">{{ address.currency }}</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <input type="text" class="form-control form-control-sm bg-body text-body me-2 copy-input"
                                   value="{{ address.address }}"
                                   readonly>
                            <button class="btn btn-sm btn-outline-secondary copy-btn">
                                <i class="bi bi-clipboard"></i> Копировать
                            </button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

{% block scripts %}
<script src="{{ url_for('static', path='js/copy.js') }}"></script>
{% endblock %}

{% endblock %}